.exampleCardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  .question {
    font-size: 1.6rem;

    p {
      margin: 0;
    }

    .more,
    .less {
      font-size: 3rem;
    }
  }
}
