@use "variables";

.hearts {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 30px;
  border: solid 2px variables.$dashes;
  border-radius: variables.$small-border-radius;
  padding: 3px 5px;

  .heart {
    height: 30px;
  }
}
