@use "variables";

.front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: variables.$card-width;
  height: variables.$card-height;
  border: solid variables.$card-border-color 3px;
  border-radius: variables.$box-border-radius;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #ffffff;
  color: variables.$text;
  will-change: transform, opacity;
  overflow: hidden;

  .top,
  main {
    padding: 6px;

    h2 {
      text-align: left;
      margin: 0;
      margin-right: 24px;
      font-size: 14px;
    }
  }

  .categoryLogo {
    width: 26px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 3px 3px;
    border-radius: 0 0 0 4px;
    background-color: variables.$card-border-color;
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 3px;

    .description {
      font-size: 0.9rem;
      font-style: italic;
      flex-grow: 0;
    }

    .imageContainer {
      align-self: center;
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    img {
      height: 56px;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    font-weight: 700;
    background-color: variables.$primary;
    color: variables.$text-light;
    transition: background-color 5s ease-in-out;

    &:hover {
      background-color: #ad310b;
    }

    &.correct {
      background-color: variables.$correct;
    }

    &.incorrect {
      background-color: variables.$incorrect;
    }
  }

  .label {
    font-weight: bold;
    word-wrap: break-word;
  }
}
