@use "variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .next-items {
    position: relative;
    padding: variables.$card-margin;
    width: variables.$card-width + variables.$card-margin * 2;
    height: variables.$card-height + variables.$card-margin * 2;
  }
}
