@use "variables";

.realCardsGame {
  max-width: variables.$content-max-width;
  padding: 1.2rem;
  border: 2px solid variables.$text-muted;
  border-radius: variables.$small-border-radius;
  color: #ddd;
  background-color: variables.$box-background;
  text-align: left;

  h2 {
    margin: 0;
    font-size: 1.3rem;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    [type="email"] {
      width: 250px;
      background-color: #ddd;
    }
  }
}
